@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body, html{
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* Background Image */
.bg-image{
  
  /* image used */
  background-image: url("https://sungmin-an.github.io/images/malibu.jpg");
  
  /* Add the blur effect */
  filter: blur(7px);
  -webkit-filter: blur(7px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.1); 
}

/* Textbox on home page */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 1px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300px
}


/* Typewriter Effect */
.typewriter{
  overflow: hidden; /* Ensures content is hidden until the animation */
  border-right: .15em solid white; /* Typewriter cursor */
  white-space: nowrap; /* Keeps content on same line */
  margin: 0 auto; /* Gives scrolling effect as typing happens */
  letter-spacing: .1em; 
  animation: 
    typing 3.5s steps(90, end),
    blink-caret .75s step-end infinite;
}

/* Typing effect */ 
@keyframes typing{
  from{width: 0} 
  to{width: 100%} 
}

/* The typewriter cursor effect */
@keyframes blink-caret{
  from, to{border-color: transparent} 
  50% {border-color: white;}
}



/* Adds style to navigation menu */
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: transparent;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
