/* Import Roboto text */
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body{
 /* Image used */
 background-image: url("https://sungmin-an.github.io/twin_peaks.jpg")
 
  /* Add the blur effect */
 filter: blur(7px);
 -webkit-filter: blur(7px);
}



/* Typewriter Effect */
.typewriter{
  overflow: hidden; /* Ensures content is hidden until the animation */
  border-right: .15em solid white; /* Typewriter cursor */
  white-space: nowrap;
  margin: 0 auto; /* Gives scrolling effect as typing happens */
  letter-spacing: .1em; 
  animation: 
    typing 3.5s steps(90, end),
    blink-caret .75s step-end infinite;
}

/* Typing effect */ 
@keyframes typing{
  from{width: 0} 
  to{width: 100%} 
}

/* The typewriter cursor effect */
@keyframes blink-caret{
  from, to{border-color: transparent} 
  50% {border-color: white;}
}



/* Adds style to navigation menu */
 ul {
  z-index: 4;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 130px;
  background-color: transparent;
  position: fixed; 
  right: 30px;
}

li a {
  display: block;
  color: #f1f1f1;
  padding: 8px 16px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

/* Change the link color on hover */
li a:hover {
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  color: white;
}
